/* Body Width */
body html{
	margin: 0px;
	overflow-x: hidden;
}

/* Nav Bar */

p {
	color: white;
	font-size: 40px;
	text-align: left;
	padding-left: 100px;
}

.navbar {
	position: relative;
	z-index: 980;
	background-color: #1B3440 !important;
}

#nav-logo {
	padding-left: 120px;
}

#nav-logo a{
	margin: 0;
	padding-left: 0px;
}

#nav-logo img {
	height: 60px;
	width: auto;
}

#nav-categories {
	padding-right: 120px;
}

#nav-categories ul li {
	float: right;
	list-style-type: none;
	padding-left: 15px;
}

#nav-categories {
	padding-top: 17px;
}

#nav-categories a {
	text-decoration: none;
	color: #B7B7B7;
}

#nav-categories a:hover {
	color: #B4D6C6;
}

#active {
	color: #fff !important;
}

#active:hover {
	color: #B4D6C6 !important;
}

/* Contact Bar */

.contact-container {
	background: #1B3440;
	
}

.contact {
	padding-left: 100px;
	padding-right: 120px;
	list-style-type: none;
	background: #1B3440;
	margin: 0px !important;
}

.contact ul a {
	text-decoration: none;
	color: dimgray;
	margin: 0px !important;
}

.contact ul {
	margin: 0px !important;
}

.contact li:hover {
	color: white;
}

.contact-left {
	display: inline;
	padding-right: 10px;
	text-align: left;
	padding-left: 0px;
}

.contact-right {
	display: inline;
	padding-left: 15px;
	text-align: right;
	float: right;
}
/* Body Content */

.body {
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	height: 100%;
}


/* Contact Bar */

.contact-container {
	background: #1B3440;
	
}

.contact {
	padding-left: 100px;
	padding-right: 120px;
	list-style-type: none;
	background: #1B3440;
	margin: 0px !important;
}

.contact ul a {
	text-decoration: none;
	color: dimgray;
	margin: 0px !important;
}

.contact ul {
	margin: 0px !important;
}

.contact li:hover {
	color: white;
}

.contact-left {
	display: inline;
	padding-right: 10px;
	text-align: left;
	padding-left: 0px;
}

.contact-right {
	display: inline;
	padding-left: 15px;
	text-align: right;
	float: right;
}