/* Body Width */
body {
	margin: 0px;
	overflow-x: hidden;
}

/* explanation */

p {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	text-align: center;
}

.uk-position-center {
	position: relative;
	margin: auto;
	width: 70%;
	top: 300px;
}

.uk-position-center td{
	width: 33%;
	border-spacing: 10px;
	align-content: center;
	vertical-align: middle;
	margin: auto;
}

.uk-position-center video {
	height: 255px;
	width: 100%;
}


.uk-navbar-center li {
	color: white;
}

/* Table */

.table-bio {
	position: relative;
	margin: auto;
	padding-left: 200px;
	padding-right: 200px;
	top: 300px;
	vertical-align: center;
}

.table-bio img {
	height: 200px;
	width: auto;
}

.table-bio td {
	font-size: 25px;
	padding-left: 20px;
	padding-right: 20px;
}