.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BF214B;
    transform: skewX(-10deg);
    transform-origin: top right;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 100px;
    text-decoration: none;
    font-size: 25px;
    color: #F2F2F2;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.body-container {
    margin-left: 400px;
    padding-left: 30px;
}