.body-container {
    margin-left: 400px;
    padding-left: 30px;
}

.body-title {
    position: absolute;
    bottom: 15%;
    left: 350px;
    transform: skewX(-10deg);
}

.body-title h1 {
    font-size: 70px;
}