.body-container {
    margin-left: 400px;
    padding-left: 30px;
}

.body-title {
    position: absolute;
    top: 100px;
}

.body-title h1 {
    font-size: 70px;
}

.body-content {
    background-color: rebeccapurple;
}

.projects {
    background-color: darkcyan;
}