/* Body Width */
body {
	margin: 0px;
	overflow-x: hidden;
	background-color: dimgrey;
	background-image: url("../Images/hero.png");
	background-repeat: no-repeat;
	background-position: top center;
}

/* Navigation Bar */
.nav {
	margin: 0px;
	position: fixed;
	width: 100%;
	top: 0px;
}

.active-nav {
	color: lightskyblue !important;
}

.nav img {
	position: relative;
	width: 150px;
	top: 50px;
}

.nav ul {
	position: relative;
	top: -100px;
	padding: 20px;
	text-align: center;
}

.nav-list {
	position: relative;
	margin: 0;
}

.nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 15px;
	font-family: 'Quicksand', sans-serif;
}

.nav li a {
	color: white;
	transition: color 0.3s;
	-webkit-transition: color 0.3;
	text-decoration: none;
	font-size: 25px;
}

.nav li a:hover {
	color: lightskyblue;
	text-decoration: none;
}

/* Projects */

.project-table {
	position: relative;
	margin: auto;
	width: 90%;
	border-spacing: 20px;
	top: 200px;
}

.project-frame {
	padding-top: 125px;
	padding-bottom: 125px;
	opacity: 0;
	filter: brightness(100%);
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}

.project-frame:hover {
	opacity: 1;
}

.project-table a {
	text-decoration: none;
	text-align: center;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
}

.project-table td {
	width: 33%;
	background-size: cover;
	background-position: center;
}

/* Project Backgrounds */

.before::before {
  	content: '';
  	position: absolute;
  	width: 100%;
  	height: 100%;
	top: 0px;
	left: 0px;
  	background-color: rgba(0, 0, 0, .5);
  	opacity: 0;
  	transition: opacity 0.2s;
}

.before:hover::before {
  opacity: 1;
}

#chili {
	position: relative;
	background-image: url(../Images/Chili.jpg);
}

#basf {
	position: relative;
	background-image: url(../Images/basf.jpg);
}

#stonehaven {
	position: relative;
	background-image: url(../Images/stonehaven.png);
}

#minti {
	position: relative;
	background-image: url(../Images/minti.jpg);
}

#brainwashed {
	position: relative;
	background-image: url(../Images/brainwashed.png);
}

#pentax {
	position: relative;
	background-image: url(../Images/pentax.png);
}