body, html {
    height: 100%;
    background-color: #1b1b1b;
}

.center-text-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text a{
    display: inline-block;
    text-decoration: none;
    color: white;
}

.icons {
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://picsum.photos/1280/720?grayscale&blur=10");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.bg-outline {
    height: 100%;
    width: 100%;
    position: absolute;
    border: 20px solid #e02254;
}

@media only screen and (max-width: 600px) {
    .center-text-wrapper h1{
        font-size: 1.1rem;
    }

    .center-text-wrapper h4 {
        font-size: 1rem;
    }

    .center-text {
        font-size: .75rem;
    }

    .icons {
        width: 50px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media only screen and (min-width: 600px) {
    .center-text-wrapper h1{
        font-size: 1.5rem;
    }

    .center-text-wrapper h4 {
        font-size: 1rem;
    }

    .center-text {
        font-size: .75rem;
    }

    .icons {
        width: 50px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .center-text-wrapper h1{
        font-size: 2rem;
    }

    .center-text-wrapper h4 {
        font-size: 1.2rem;
    }

    .center-text {
        font-size: .75rem;
    }

    .icons {
        width: 60px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .center-text-wrapper h1{
        font-size: 2.5rem;
    }

    .center-text-wrapper h4 {
        font-size: 1.5rem;
    }

    .center-text {
        font-size: 1rem;
    }

    .icons {
        width: 70px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .center-text-wrapper h1{
        font-size: 2.5rem;
    }

    .center-text-wrapper h4 {
        font-size: 1.5rem;
    }

    .center-text {
        font-size: 1rem;
    }

    .icons {
        width: 70px;
        margin-right: 20px;
        margin-left: 20px;
    }
}