/* Body Width */
body {
	margin: 0px;
	overflow-x: hidden;
	background-color: #242842;
}

.background {
	position: fixed;
	widht: auto;
	height: auto;
	background-color: #242842;
	overflow: auto;
}


/* Nav Bar */

.navbar {
	position: relative;
	z-index: 980;
	background-color: #242842 !important;
}

#nav-logo {
	padding-left: 30px;
}

#nav-logo a{
	margin: 0;
	padding-left: 0px;
}

#nav-logo img {
	height: 60px;
	width: auto;
}

#nav-logo strong {
	color: #fff;
	font-size: 25px;
	width: 100%;
}

#nav-categories {
	padding-right: 30px;
}

#nav-categories ul li {
	float: right;
	list-style-type: none;
	padding-left: 15px;
}

#nav-categories {
	padding-top: 17px;
}

#nav-categories a {
	text-decoration: none;
	color: #B7B7B7;
}

#nav-categories a:hover {
	color: #fff;
}

#active {
	color: #fff !important;
}

#active:hover {
	color: #fff !important;
}

.hamburger {
	visibility: hidden;
	position: absolute;
	top: 23px;
	right: 40px;
	z-index: 990;
}


/* I Am */

.iAm {
	position: relative;
	padding-left: 100px;
	color: #fff;
	font-size: 40px;
	z-index: 99;
}

.name {
	position: relative;
	top: 41px;
	padding-left: 239px;
	color: #fff;
	font-size: 40px;
	z-index: 99;
	padding-bottom: 0px;
}

.image {
	position: relative;
	top: -79px;
	float: right;
	padding-right: 200px;
}


/* Contact Bar */

.contact-container {
	position: fixed;
	width: 100%;
	bottom: 0;
}

.contact {
	padding-right: 30px;
	list-style-type: none;
	background: #242842;
	margin: 0px !important;
	padding-top: 25px;
	padding-bottom: 25px;
}

.contact ul a {
	text-decoration: none;
	color: dimgray;
	margin: 0px !important;
	color: #B7B7B7;
}

.contact ul {
	margin: 0px !important;
}

.contact a:hover {
	color: white;
}

.contact-left {
	display: inline;
	padding-right: 10px;
	text-align: left;
	padding-left: 0px !important;
}

.contact-right {
	display: inline;
	padding-left: 15px;
	text-align: right;
	float: right;
}

.social {
	position: relative;
	height: 30px;
	width: auto;
	top: -3px;
}

/* Media Queries */

@media only screen and (max-width: 1118px) {
	.image {
		padding-right: 40px;
	}
}

@media only screen and (max-width: 640px) {
	.hamburger {
		visibility: visible;
	}
	
	#nav-logo strong {
	font-size: 35px;
	}
	
	#nav-categories {
		visibility: hidden;
	}
	
	.iAm {
		padding-left: 40px;
		font-size: 35px;
		padding-bottom: 200px;
	}	
	
	.name {
		position: relative;
		top: -30px;
		padding-left: 165px; 
		font-size: 35px;
		z-index: 99;
	}

	.image {
		position: relative;
		top: 0px;
		float: right;
	}
	
	.contact {
		position: relative;
		top: -20px;
	}
	
	.contact-left {
		display: none;
	}
	
	.social {
		height: 40px;
	}
}
