.header-ul {
	list-style-type: none;
	margin: 0px;
	overflow: hidden;
	color: white;
	background-color: dimgrey;
}

.header-li {
	float: right;
	display: block;
	padding: 16px;
	text-decoration: none;
}