/* Body Width */
body {
	margin: 0;
	overflow: hidden;
}

/* Navigation Bar */
#nav {
}

#nav img {
	float: left;
	width: 80px;
	position: relative;
	z-index: 1;
	margin-left: 100px;
}

#nav ul {
	position: absolute;
	background-color: grey;
	padding: 20px;
	margin: 0px;
	width: 100%;
}

#nav-list {
	margin-right: 100px;
}

#nav ul li {
	float: right;
	list-style-type: none;
	display: inline;
	margin-left: 0px;
	margin-right: 35px;
}

#nav li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#nav li a:hover {
	color: lightskyblue;
	text-decoration: none;
}

/* Hero Image */
#hero {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	height: 500px;
}