.header-ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	color: white;
	background: dimgrey;
	width: 100%;
	
}

.header-li {
	float: right;
	display: block;
	padding: 16px;
	width: 5%;
	text-decoration: none;
}